 .Plan__root__tvgtr.__wab_instance {
        position: relative;
      } 
 .Plan__box___1HqNa {
        display: flex;
position: relative;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
      } 
 .Plan__box__gPOt {
        display: flex;
flex-direction: column;
      } 
 .Plan__box__gPOt > .__wab_flex-container {
        flex-direction: column;
justify-content: center;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Plan__box__gPOt > .__wab_flex-container > *, .Plan__box__gPOt > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Plan__slotName__iPCrE {
        font-size: 20px;
font-weight: 700;
text-align: center;
      } 
 .Plan__box__mAfo {
        font-size: 48px;
      } 
 .Plan__box__piYZh {
        display: flex;
flex-direction: column;
position: relative;
      } 
 .Plan__box__piYZh > .__wab_flex-container {
        flex-direction: column;
align-items: stretch;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Plan__box__piYZh > .__wab_flex-container > *, .Plan__box__piYZh > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Plan__bullet__cbFMx.__wab_instance {
        position: relative;
      } 
 .Plan__bullet___8PqZ2.__wab_instance {
        position: relative;
      } 
 .Plan__bullet__ac7Tj.__wab_instance {
        position: relative;
      } 
 .Plan__box__qtsP3 {
        display: flex;
position: relative;
flex-direction: column;
align-items: center;
justify-content: flex-start;
margin-top: calc(13px + 8px) !important;
      } 