/** This file will be overwritten by Plasmic. Don't edit. */
    :root {
      --image-Dl9VTqrCaYy2L: url("/twitter-icon.svg");
--image-KSGO5pOwCCLoL: url("/github-icon.svg");
--image-RNiAZ52QKlq9-: url("/facebook-icon.svg");
--image-TQ8pSRI-5fVDi: url("/facebook-logo.svg");
--image-vHJuwg_7sjjuE: url("/logo.svg");
--image-Y-meyOo4bkS7n: url("/sphere.svg");
--image-0ezS13134x7SF: url("/quote-dashes.svg");
--image-5PaIzJf4sF3Ew: url("/profilepic.png");
--image-aeOmRX6qgEEGw: url("/tinder-logo.svg");
--image-kMvVkwe3ycIAb: url("/airbnb-logo.svg");
--image-alj7p4gdc5vKf: url("/hubspot-logo.svg");
--image-irMYo08fhadXY: url("/amazon-logo.svg");
--image-VK7mVS864MAeW: url("/swap.svg");
--image-uHBuqlGRFNuJn: url("/slot.svg");
--image-ij0THu1ZA4fkE: url("/cycle.svg");
--image-MbK18s0qWCXXI: url("/hammer.svg");
--image-_golzk0-C0Z4B: url("/pencil.svg");
--image-XO762wHO7_9y3: url("/lightning.svg");
--image-QGkbusDg57Dbh: url("/task.png");
--image-8MP1EUHxDw9-N: url("/simple-project.png");
--image-I_4kYGEHv5X0D: url("/hero-image.png");
--image-CCz2NhEPMjYJQ: url("/right-arrow.svg");
--image-uCX7bF9ktrIar: url("/done-24px.svg 2.svg");
--image-gc4liWLiP: url("/image.png")
    }